<html>
  <head>
    <title>Create Chat (версия <%= VER %>)</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
      
      var URL = 'ws://<%= HOST %>:<%= WS_PORT %>'
      
      $(function(){
      
        var log = $('#log'), msg = $('#msg')
        
        function echo(msg) {
          log.val(log.val() + msg + "\n")
            .scrollTop(log[0].scrollHeight - log.height())
        }
        
        function dbg(msg) {
          echo('<' + msg + '>')
        }
        
        
        //
        //  WebSocket setup
        
        var ws = null
        
        try {
          ws = new WebSocket(URL);
          
          ws.onmessage = function(evt) {
            echo(evt.data)
          }
          
          ws.onclose = function() {
            dbg('Соединение закрыто')
          }
          
          ws.onopen = function() {
            dbg('Соединение открыто')
          }
        }
        catch(err) {
          dbg('Ошибка: ' + err.message)
        }
        
        
        //
        //  Interface setup
        
        var hist = [], hisn = 0
        
        function hisv() {
          if (0 <= hisn && hisn < hist.length) msg.val(hist[hisn])
          else if (hisn == hist.length) msg.val('')
        }
        
        msg.on('keypress keydown', function(evt){
          var key = evt.which || evt.keyCode
          
          // ENTER
          if (key == 13) {
            str = msg.val()
            if (str != '') {
            
              ws.send(str)
              msg.val('')
              
              hist.push(str)
              hisn = hist.length
              
            }
          }
          
          // UP
          else if (key == 38) {
            hisn--
            if (hisn < 0) hisn = 0
            hisv()
          }
          
          // DOWN
          else if (key == 40) {
            hisn++
            if (hisn > hist.length) hisn = hist.length
            hisv()
          }
          
        }).focus()
        
      })
      
    </script>
    <style type="text/css">
    
      body {
        margin: 0px;
        padding: 0px;
      }
      
      body, textarea, input, a, a:visited {
        font-family: Courier;
        font-size: 14px;
        color: white;
        background-color: black;
      }
      
      a:hover {
        color: blue;
      }
      
      textarea, input {
        padding: 10px;
        border: solid 1px silver;
        width: 600px;
      }
      
      #main {
        width: 650px;
        text-align: center;
        margin: 0px auto;
      }
      
      #head {
        margin-top: 50px;
        margin-bottom: 20px;
      }
      
      #log {
        overflow: hidden;
        margin-bottom: 10px;
        height: 300px
      }
    
    </style>
  </head>
  <body>
    <div id="main">
      <div id="head">
        <h2>Create Chat (версия <%= VER %>)</h2>
        <p>
          Исходный код на <a href="https://github.com/907th/create-chat" target="_blank">github</a>
          (по лицензии <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL</a>).
        </p>
      </div>
      <textarea id="log" readonly="true"></textarea>
      <input id="msg">
    </div>
  </body>
</html>

